html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
}
h1, h2, h3, h4 {
    color: rgb(128, 0, 128);
    text-align: center;

}
.indent1 {
    margin-left: 4%;
}
.indent2 {
    margin-left: 6%;
}
.indent3 {
    margin-left: 8%;
}
.index_links, a {
    color: gold;
}
ul {
    list-style: none;
}
p {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.sidepanel {
    height: auto; /* Specify a height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #faed78;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #f8f533;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .headshot img {
    position: absolute;
    right: 5%;
  }

  .body{
    justify-items: center;
    /* margin-left: 10%; */
    margin-right: 18%;
  }

  .boldtext{
    font-weight: bolder;
  }

  ul{
    list-style-type: disc;
    list-style-position: inside;
  }
  li{
    margin-top: 1%;
  }
  
