{% extends "Base.html" %}
<body>
    {% block body %}
    
    <div>
        <h2>About Me</h2>
        <p>I'm Chris Lovett. I'm a data scientist and software developer. When I'm not writing code or 
            coming up with a way to effectively present data, I like to spend time with my wife and kids, work
            out, and learn new things.
        </p>
        <p>If you want to learn more about my professional experience, please click the link to my Resume page and also take 
            a look at some of the projects that I've done, and others that I'm currently working on.
        </p>
        
    </div>
    
    {% endblock %}
</body>