{% extends "Base.html" %}

<body>
    {% block body %}
    
    <div>
        <p>***Website is still under construction***</p>
        <h2>About Me</h2>
        <p>I'm Chris Lovett. I'm a data scientist and software developer. When I'm not writing code or 
            coming up with a way to effectively present data, I like to spend time with my kids, work
            out, and learn new things.
        </p>
        <p>
            I'm an avid cyclist.
        </p>
    </div>
    
    {% endblock %}
</body>