{% extends "Base.html" %}

<body>
    {% block body %}
    
    <div class="headshot">
        <picture id="headshot_pic">
            <img src="/static/images/headshot.png" width="194" height="218">
        </picture>
    </div>

    <div class="body">
        <p>***Website is still under construction***</p>
        <h2>Career Summary</h2>
        <p>KPMG   |   Audit, Tax, and Advisory Services</p>
        <p>Data Scientist, Senior Associate   |   Oct 2021 - Present</p>
        <p>
            As the data scientist for our team, it was my responsibility to develop solutions to automate reports for our client 
            and to give insight into ways to improve their processes to make them audit ready.
            <ul>
                <li>
                    •	DRI (Data Remediation Information) Tool I created a desktop application with 
                    C# and .Net Core that automated no less than 12 recurring audit reports and KPI’s. 
                    One of the reports compared data from our client’s main inventory system with another global 
                    positioning inventory system. This made it possible to quickly highlight and correct inventory errors 
                    in the main system.
                </li>
                <li>
                    •	Python Data Extraction Bot Due to time constraints and our team not having access to our client’s 
                    underlying data tables for their inventory system at the time, I created a bot to extract the data that 
                    we needed for our reports. The bot used image recognition to mimic human points, clicks, and keyboard 
                    shortcuts, though it worked many times faster, and more reliably than a person. This saved many man hours 
                    and made it possible to generate some reports on a more frequent basis, since manually extracting that 
                    data from the system would usually take a person more than 4 to 5 work hours. With that time savings, it 
                    freed our team up to produce even more meaningful insights based off of that data.
                </li>
                <li>
                    •	Inventory Progress Tracker Our client was required to conduct a yearly inventory of all of their 
                    equipment held and maintained by all of its commands. I developed a desktop application with C# that 
                    would ingest data from their inventory system, and produce a detailed progress report showing how 
                    much of the inventory had been completed by each command with percentages and trends to give an idea 
                    of the expected completion timeframe at the current pace, for over a million assets, and $1 billion 
                    worth of inventory in total.
                </li>
            </ul>


        </p>
    </div>
    
    {% endblock %}
</body>